<br><br><br><br><br><br>
<div class="ui segments" style="margin-top: 70px;">
<div class="ui segment">
    <h1><%= @task.name %></h1>
    <h3><%= @task.body %></h3>
    <%= link_to 'Back', :back, class: "ui secondary button inverted" %>
</div>
</div>
