<br>
<h2 class="ui center aligned icon header" style="color: white; font-size: 3em; margin-left: -50px; margin-top: 70px;">
  <i class="circular sitemap icon inverted"></i>
  Boards
</h2>
<br><br>

<div class="ui grid">
  <% @boards.each do |board| %>
  <div class="four wide column">
    <div class="ui horizontal segments">
      <div class="ui segment">
        <i class="list ul icon"></i>
        <div class="ui segment" style="padding: 25px;">
        <h2 ><%= link_to "#{board.name}", board %></h2>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>

