<h1>New Board</h1>
<hr />
<%= form_with(model: @board, local: true, class: 'ui form') do |f| %>
    <div class='field'>
        <%= f.label :name %>
        <%= f.text_field :name, required: true, placeholder: 'Name' %>
    </div>
    <%= f.submit nil, class: 'ui green button inverted' %>
<% end %>