<div class="ui inverted segment">
  <div class="ui inverted secondary pointing menu">
    <h2 style="margin-top: 5px; font-family: 'Bungee Hairline', cursive;
character-spacing: 1em;"> TaskIR </h2>
      <%= link_to 'Boards', boards_path, class: 'item' %>
      <%= link_to 'Add Board', new_board_path, class: 'item' %>
  <div class="right menu">
    <div class="ui search" style="opacity: .7;">
      <div class="ui icon input">
        <input class="prompt" type="text" placeholder="Search any task...">
        <i class="search icon"></i>
      </div>
      <div class="results"></div>
      </div>
      <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: 'item' %>
    <!-- link devise info to navbar-->
  </div>
  </div>
</div>